.logoo img {
    width: 120px;
    margin-left: 180px;
}

.header{
    display: flex;
    margin-top: 10px;
    background-color: turquoise;
}

.header nav{
    margin-top: 30px;
}
.navv a {
    text-decoration: none;
    font-size: 15px;
    color: black;
    margin-left: 15px;
}
.navv{
    margin-left: 20px;
}
.name {
    font-size: 20px;
}
.navv a:hover{
    color: blue;
    font-size: 17px;
}

